/* -- classes de cores -- */
:root {
  --rosaEscuro:#803362;
  --rosaMeioEscuro: #CC529D;
  --rosa: #FF65C5;
  --rosaClaro: #FFB3E2;
  --branco: #fff;
  --cinza:#f3f3f3;
  --cinzaMeioEscuro: #8d8d8d;
}

/* -- Aplicação geral --*/

html{
  font-family: "Open Sans", arial, sans-serif !important;
  font-weight: 400;
  color: var(--cinzaMeioEscuro);
  min-width: 375px; 
}
button{
  text-transform: uppercase;
}

/* --- Menu topo --- */

header{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}

.containerTopo{
  align-items: center;
  background-color: var(--branco);
  border-bottom: solid 2px var(--rosa);
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 500;
  height: 15vh;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.logo1, .logo2{
  text-align: center;
  color: var(--rosa);
}

.logo1{
  font-family: 'Montagu Slab', serif;
}

.logo2{
  font-family: 'Italianno', cursive;
}
.containerIcone{
  cursor: pointer;
}

#compreAgora{
  position: relative;
  left: 50px;
  color: var(--rosa);
  animation: piscaSublinhado 3s infinite ;
  transition: 1s;
}

@keyframes piscaSublinhado {
  0% {
    text-decoration: none;
  }

  50%{text-decoration: underline;}
  
}

.containerTopo nav a {
  margin: 15px;
}

.containerNav a:hover{
  color: var(--rosa);
  transition: 0.3s;
  text-decoration: underline;
}

.containerPaiRedesSociais{
  display: flex;
  align-items: center;
  
}

.containerRedesSociais{
  padding: 10px 30px;
  border: 2px solid rgb(72,203,255,.0);
  border-radius: 100px;
  display: none;
  flex-direction: row;
  margin: 5px;
}

.containerRedesSociais:hover{
  border-color: var(--rosa);
  transition: 1s;
}

.containerRedesSociais a{
  margin: 10px;
}

.containerRedesSociais a:hover{
  border-bottom: 2px double var(--rosa);
}

.btn-entrar{
  font-size: 1.25rem;
  padding: 5px;
  margin: 5px;
  color: var(--rosa);
  background-color: var(--branco);
  border-radius: 4px;
  border: solid 2px var(--rosa);
  cursor: pointer;
  font-weight: bold;
}

.btn-entrar:hover{
  color: var(--branco);
  background-color: var(--rosa);

}

.invisivel{
  display: none;
}

.CardCliente{
  border-radius: 100%;
  border: solid 2px var(--rosa); 
  background-image: url(imagens/AdobeStock_620088163_Preview.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 9vh;
  height: 9vh;
  display: none;
}

.CardCliente p{
  font-size: .8rem;
  padding-top: 6vh;
  text-align: center;
  font-weight: 700;
  color: var(--rosa);
  text-shadow: var(--cinza) 1px 1px;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.btn-sair{
  font-size: .8rem;
  margin-top: 5px;
  cursor: pointer;
  display: none;
}
/* -------- Apresentação ---------*/


.containerApresentacao{
  display: flex;
  flex-direction: row;
  margin-top: 15vh;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-image: url(imagens/arara-para-pendurar-roupa.jpg);
 	background-position: center;
 	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imagemLogo3{
  text-align: center;
  height: 250px;
  margin: 10px;
  border-radius:5px;
  border-radius: 100%;
}

.containerApresentacao__nome{
  color: var(--rosa);
  font-family: 'Montagu Slab', serif;
}


/* -------- sobre nós ---------*/


.containerSobrNos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin: 15% 10%;
  padding: 2%;
  box-shadow: 0px 0px 0px 2px var(--rosaClaro),0px 0px 0px 10px var(--branco),0px 0px 0px 23px var(--rosaClaro);

}

.containerSobrNos h1{
  width: 60%;
  text-align: center;
}

#bailarina{
  display: flex;
  flex-direction: row;
  transform: scale(0.8);
}

.containerSobrNos:hover #bailarina{
  -webkit-animation: rotate-scale-down-ver 1.5s  ease-in-out 2 both;
	        animation: rotate-scale-down-ver 1.5s ease-in-out 2 both;
}

@-webkit-keyframes rotate-scale-down-ver {
  0% {
    -webkit-transform: scale(0.8)  rotateY(0);
            transform: scale(0.8) rotateY(0);
  }
 33% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(0.8) rotateY(360deg);
            transform: scale(0.8)  rotateY(360deg);
  }
}
@keyframes rotate-scale-down-ver {
0% {
    -webkit-transform: scale(0.8) rotateY(0);
            transform: scale(0.8) rotateY(0);
  }
  33% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(0.8) rotateY(360deg);
            transform: scale(0.8) rotateY(360deg);
  }
}

/* -------- Imagem Mulher sacola -------*/

.img{
  width: 100%;
  background-image: url(imagens/close-up-de-roupas-penduradas-na-prateleira.jpg);
  height: 90vh;
  background-position: center;
 	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------- Nossa História -------*/

.sobreNos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 50px;
  color: var(--rosaMeioEscuro);
  width: 100%;
}

.cinza{
  background-color: var(--cinza);
  width: 100%;
}

.meio{
  text-align: center;
  font-size: 3rem;
  padding-top: 2.5%;
}


.sobreNos p{
  width: 100%;
  text-align: center;
  padding:2.5% 10%;
}



/* ------------ Galeria --------------*/

h2{
  text-align: center;
  margin: 20px;
  font-size: 2rem;
  color: var(--rosa);
  font-family: 'Italianno', cursive;
  font-weight: 500;
  text-decoration: underline;

}
.gallery-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:  100%;
}

.image-slider img {
  width:  100%;
  height: 600px;
  display: none;
}

.image-slider img:hover{
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s;
}

.controls button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--rosaClaro);
  transition: 0.8s;
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: 900;
  cursor: pointer;
}

.controls button:hover{
  color: var(--rosa);
  transition: 0.5s;
  transform: scale(1.5);
}

.indicators {
  margin-top: 10px;
  
}

.indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--rosaClaro);
  cursor: pointer;
}

.indicators .active {
  background-color: var(--rosa);
}



/*----------- Produtos ---------*/

#produtos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloProdutos {
  color: var(--rosa);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:25px;
  padding: 2rem;
  flex-wrap: wrap;
  
}


/* ********* */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaa;
}
.card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  height: 40%;
  padding: 5px;
}
.card h1 {
  font-size: 1.4rem;
  color: var(--rosaMeioEscuro);
  font-weight: 600;
  text-align: center;
}
.card h2 {
  font-size: 1.3rem;
  color: #aaaa;
  margin: 0;
  text-decoration: none;
  font-family: 'Italianno', cursive;

}
.card button {
  background-color: plum;
  height: 30px;
  border: none;
  padding: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 25px 0 25px;
}
.card button:hover {
  background-color: #137de8;
  cursor: pointer;
}

.card span{
  margin-top: 8px;
}

/*----------- Footer ---------*/

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color:var(--cinza);
  padding: 25px;
}

footer a{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

footer a img{
  border-radius: 100%;
}


footer span{
  color: var(--rosa);
}

@media screen and (max-width: 800px){
  .containerNav{
    display: none;
  }

  .containerRedesSociais{
    border-color: var(--rosa);
    
    padding: 0;

  }

  .containerRedesSociais img{
    border-radius: 5px;
  }

 .cinza{
  display: none;
 }

 .gallery-container{
  padding: 0;
 }

 .controls button{
  position: absolute;
  padding: 0;
  margin: 15px;
  font-size: 4rem;
 }

 .controls .next{
  right:15px
 }



 .image-slider{
  width: 100%;
 }

footer{
  text-align: center;
}

}

@media screen and (min-width: 801px){
  .containerNav{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0;
  }

  .containerNav a {
    margin: 0;
  }

  #compreAgora{
    position: static;
  }

  .containerRedesSociais{
    display: flex;
  }

  .produtos{
    width: 1000px;
  }

}
@media screen and (max-width: 1000px){
  .produtos{
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px){

  #compreAgora{
    position: relative;
  }
  .produtos{
    width: 1000px;
  }
}



